{% extends 'base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Background</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/feature-image.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>О магазине</h4>
              <div class="l-content__content">

                <div class="c-content-decorator"><p><span style="font-size: 18px;">Chlenomylo - это магазин для поклонников домашнего мыловарения. У нас Вы можете купить товары для мыловарения в Омске<strong>,</strong><strong>&nbsp;с доставкой</strong>&nbsp;почтой и транспортными компаниями по всей России.<br><br></span></p>
                
                
                <p><span style="font-size: 18px;"><strong>Chlenomylo&nbsp;</strong>- это не только прекрасное хобби, но и источник заработка, а также недорогой способ порадовать себя, близких и друзей. А мы стараемся, чтобы вы всегда смогли купить всё для мыла ручной работы и домашнего мыловарения быстро, удобно и за разумные деньги.<br><br></span></p>
                
                <p><span style="font-size: 18px; color: rgb(255, 0, 0);">На оплату заказа предоставляется 3 (три) календарных дня.</span><span style="font-size: 18px;"> В течение этого времени товары зарезервированы за Вами, в случае неоплаты в течение трех календарных дней после оформления заказа, Ваш заказ может быть отменен или будет произведен перерасчет цен в сторону увеличения.<br><br></span></p>
                
                <p><strong><span style="font-size: 18px; color: rgb(255, 0, 0);">Сумма минимального заказа составляет 1200 руб.</span></strong></p></div></div></div></div>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    

{% endblock %}