{% load static %}
<section class="footer-section">
  <!-- <div class="container">
        <div class="footer-logo text-center">
            <a href="index.html"><img src="{% static 'img/logo-light.png' %}" alt=""></a>
        </div>
        
    </div> -->
  <div class="social-links-warp">
    <div class="container">
      <div class="social-links">
        <a href="tel:+79088005569" class="twitter"
          ><i class="fa-solid fa-phone"></i><span>8(908) 800-55-69</span></a
        >
        <a href="https://t.me/chlenomylo" class="facebook"
          ><i class="fa-brands fa-telegram"></i><span>Телеграм</span></a
        >
        <a
          href="https://instagram.com/chlenomylo?igshid=YmMyMTA2M2Y="
          class="instagram"
          ><i class="fa-brands fa-instagram"></i><span>instagram</span></a
        >
        <a href="https://m.vk.com/chlenomylo" class="pinterest"
          ><i class="fa-brands fa-vk"></i><span>Вконтакте</span></a
        >
        <a href="nastya-sid55@yandex.ru" class="google-plus"
          ><i class="fa-solid fa-square-envelope"></i><span>Почта</span></a
        >
        <!-- <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a> -->
        <!-- <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a> -->
      </div>

      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <p class="text-white text-center mt-5">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Фотогофрафии можно использовать только на тукущем сайте
      </p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
  </div>
</section>
