{% load static %}
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        {% for slider in sliders %}
        <div class="hs-item set-bg" data-setbg="{{ slider.photo.url }}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>{{ slider.title|safe  }}</span>

                        <p class="mt-3">{{ slider.text|safe }}</p>
                        <!-- <a href="#" class="site-btn sb-line">DISCOVER</a>
                        <a href="#" class="site-btn sb-white">ADD TO CART</a> -->
                    </div>
                </div>
                {% if slider.price %}
                <div class="offer-card text-white">
                    <span>От</span>
                    <h2>{{ slider.price }}р</h2>
                    <!-- <p>SHOP NOW</p> -->
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>